<ng-container>
  <h4 mat-dialog-title>
    {{data?.isEditing ? 'Editeaza furnizorul' : 'Adauga furnizor nou'}}
  </h4>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="supplier.id" readonly placeholder="id">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="supplier.name" placeholder="Nume">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="supplier.postalCode" placeholder="Cod postal">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="supplier.address" placeholder="Adresa">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onNoClick()">Renunta</button>
    <button mat-button color="warn" [mat-dialog-close]="supplier">Salveaza</button>
  </div>
</ng-container>
