<ng-container>
  <h4 mat-dialog-title>
    Sunteti sigur ca doriti sa stergeti furnizorul <b>{{supplier.name}}</b>?
  </h4>

  <div mat-dialog-content>Prin aceasta actiune veti sterge definitiv furnizorul si produsele sale asociate</div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">Renunta</button>
    <button mat-button [mat-dialog-close]="supplier" color="warn">Confirma</button>
  </div>

</ng-container>
