<ng-container *ngIf="warehouse">
  <h4 mat-dialog-title>
    {{data.isEditing ? 'Editeaza depozitul' : 'Adauga depozit nou'}}
  </h4>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="warehouse.id" readonly placeholder="id">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="warehouse.address" placeholder="adresa">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="warehouse.city" placeholder="oras">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select [(value)]="warehouse.supplier" placeholder="Furnizor" [compareWith]="compareObjects">
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier">{{supplier.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onNoClick()">Renunta</button>
    <button mat-button color="primary" [mat-dialog-close]="warehouse">Salveaza</button>
  </div>
</ng-container>
