<ng-container *ngIf="product">
  <h4 mat-dialog-title>
    {{data.isEditing ? 'Editeaza produsul' : 'Adauga produs nou'}}
  </h4>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="product.id" readonly placeholder="id">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="product.productName" placeholder="Nume produs">
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <textarea matInput [(ngModel)]="product.description" maxlength="300" placeholder="Descriere"></textarea>
      <mat-hint align="end">{{product?.description?.valueOf().length}} / 300</mat-hint>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="number" class="example-right-align" placeholder="Pret" [(ngModel)]="product.price">
      <span matPrefix>Lei&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(value)]="product.productSupplier" placeholder="Furnizor" [compareWith]="compareObjects">
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier">{{supplier.name}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--    <div class="input-field">-->
<!--      <button type="button" mat-raised-button-->
<!--              (click)="fileInput.click()">{{selectedItemName ? selectedItemName : 'Alege imaginea produsului'}}</button>-->
<!--      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/png, image/jpeg"-->
<!--             [(ngModel)]="product.image">-->
<!--      <button mat-icon-button (click)="removeSelectedFile()">-->
<!--        <mat-icon>clear</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onNoClick()">Renunta</button>
    <button mat-button color="primary" [mat-dialog-close]="product">Salveaza</button>
  </div>
</ng-container>
